.header-image {
    display: block;
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100vh;
    background: url(../images/portrait-smiling.jpg) no-repeat center center;
    background-size: cover;
}

.header {
    display: block;
    height: 100vh;
    position: relative;
    .i-text {
        text-shadow: 0 0 15px $dark-main;
        padding-top: 70vh;
    }
}

.header-cover {
    background: $dark-main;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .header {
        padding-left: 1em;
        .i-text {
            text-align: left;
            padding-top: 20vh;
        }
    }
}

@media screen and (min-width: 1000px) {
    .header {
        padding-left: 5em;
        .i-text {
            text-align: left;
            padding-top: 20vh;
        }
    }
}