// ------------
// Font weights
// ------------
$regular: 400;
$bold: 700;
$extra-bold: 800;
// ---------
// Base Font
// ---------
$quicksand: 'Quicksand',
sans-serif;
$quicksand-regular: $regular;
$quicksand-bold: $bold;
$base-font-size: 13px;
$base-line-height: 1.4;
// --------------
// Open Sans Font
// --------------
$open-sans: 'Open Sans',
sans-serif;
$open-sans-bold: $extra-bold;
//
//
@import "modules/all";
//
// --------------
// Basic settings
// --------------
//
body {
    background-color: $dark-main;
    color: $text-main;
    font-family: $quicksand;
    height: 100%;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $open-sans;
    font-weight: $open-sans-bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.67em;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    margin: 1.125rem 0;
}

em {
    font-weight: 700;
    color: $accent-main;
    font-style: normal;
}

section {
    padding: 0 .75em;
}

@media screen and (min-width:768px) {
    section {
        padding: 0 9.5em;
    }
    .wrapper {
        background: rgba(150, 150, 150, .2);
        box-shadow: 0 0 5px #333;
    }
}