/* Horizontal Lines after header tags*/

.h-line {
    display: block;
    background: $text-main;
    width: 55px;
    height: 4px;
    margin: 0 auto;
}


/* Mobile text quote */

.i-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-top: 20px;
}