/* GRIDS.SCSS */

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

/* Wrapper Constraints :Mobile*/

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.wrapper,
.row {
    @extend %clearfix;
}

[class*='col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}

@media #{$breakpoint-medium} {
    .wrapper {
        width: 95%;
        max-width: $grid-max-width;
    }
    .work {
        width: 100%;
    }
    @for $i from 1 through 12 {
        .col-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
    .hide-mobile-menu {
        display: hidden;
    }
}