    .header {
        background: url('../images/mountains.png') no-repeat center bottom;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    
    .header * {
        text-align: center;
        padding: 0 1rem;
    }
    
    .hero-text {
        padding-top: 4em;
    }