.fa {
    color: white;
    margin: 0 1rem;
}

.fa-free-code-camp {
    margin-left: .6rem;
}

.social-1 {
    margin-left: .75rem;
}

.social-2 {
    margin-bottom: .75rem;
}

.social {
    font-size: 4em;
    text-align: center;
    margin-top: 30px;
}

.contact {
    margin-top: 2rem;
    padding-bottom: 1em;
}

.contact-button {
    margin-bottom: 4em;
}

.footer-image {
    background: url('../images/ocean.png') no-repeat center top;
    background-size: cover;
    width: 100%;
    z-index: -1;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 480px) {
    .social {
        font-size: 3em;
    }
}